.button {
  color: #fff;
  background: #583FBC;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  transition: all .4s ease;
  box-sizing: border-box;
  border: 1px solid transparent;
}

.button:hover {
  background-color: #DBDEFA;
  color: #583FBC;
  border-color: #583FBC;
}