.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posts__title {
  margin: 50px auto;
  text-align: center;
  font-weight: 700;
  font-size: 46px;
}

.posts__button {
  color: #fff;
  width: 20%;
  height: 50px;
  margin-bottom: 35px;
}

.posts__container {
  width: 90%;
}

.posts__card {
  border: 1px solid rgba(24, 25, 69, 0.1);
  border-radius: 32px;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  margin-bottom: 20px;
  position: relative;
}

.posts__top {
  display: flex;
  align-items: center;
  margin: 0 0 35px;
}

.posts__number {
  min-width: 35px;
  min-height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
  margin-left: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #583FBC;
  border-radius: 11px;
  color: #fff;
}

.posts__heading {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
}

.posts__txt {
  margin: 0;
  line-height: 28px;
}

.posts__delete-btn {
  width: 40px;
  height: 40px;
  background: url(../images/delete.svg) no-repeat center / cover;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: all .6s ease;
  margin-left: auto;
}

.posts__delete-btn:hover {
  transform: rotate(180deg);
}

.posts__form {
  width: 80%;
  margin-bottom: 20px;
}

.posts__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 15px;
}

.posts__label {
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 10px;
  color: rgba(24, 25, 69, 0.6);
}

.posts__input {
  border-radius: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  padding: 18px 20px;
  box-sizing: border-box;
  border: 2px solid rgba(24, 25, 69, 0.1);
  color: #181945;
  width: 100%;
}

.posts__input::placeholder {
  color: rgba(24, 25, 69, 0.6);
  font-weight: 500;
}

.posts__input:focus-visible {
  border: 2px solid #583FBC;
  outline: none;
}

.posts__input_type_textarea {
  width: 100%;
  min-height: 400px;
  resize: none;
}

.posts__submit {
  width: 240px;
  height: 64px;
  font-weight: 700;
  font-size: 26px;
}