.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.posts__title {
  margin: 50px auto;
  text-align: center;
  font-weight: 700;
  font-size: 46px;
}

.posts__button {
  color: #fff;
  width: 20%;
  height: 50px;
  margin-bottom: 35px;
}

.posts__container {
  width: 90%;
}

.posts__card {
  border: 1px solid rgba(24, 25, 69, 0.1);
  border-radius: 32px;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  margin-bottom: 20px;
  position: relative;
}

.posts__heading {
  margin: 0 0 35px;
  font-weight: 700;
  font-size: 36px;
  line-height: 28px;
}

.posts__txt {
  margin: 0;
}

.posts__delete-btn {
  width: 40px;
  height: 40px;
  background: url(../images/delete.svg) no-repeat center / cover;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: none;
}

.posts__delete-btn:hover {
  background-image: url(../images/delete-white.svg);
  background-color: #583FBC;
}